<header class="container-nav">
  <h1 class="logo">Agenda</h1>
  <nav>
    <ul class="nav_links">
      <li><a href="#">Home</a></li>
      <li><a href="/contato">cadastrar contatos</a></li>
    </ul>
  </nav>
  <% if(user) { %>
  <a class="cta" href="/login/logout"><button>Sair</button></a>
  <% } else {%>
  <a class="cta" href="/login"><button>Entrar</button></a>
  <% } %>
</header>
