<header class="container-nav">
  <h1>Agenda</h1>
  <nav>
    <ul class="nav_links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </nav>
  <a class="cta" href="#"><button>entrar</button></a>
</header>
